.title{
    color: rgb(134, 7, 184);
    width: 100%;
    text-align: center;
    font-size: 48px;
    letter-spacing: 8px;
    margin-top: 20px;
    border-bottom: 2px solid grey;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.wrapAll{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.wrapAll p{
    color: #ff9100;
    padding: 15px 125px;
    border-radius: 999px;
    font-size: 22px;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.wrapResps{
    background-color: rgba(0, 0, 0, 0.685);
    color: #ffffff;
    padding: 20 px;
    border-radius: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.wrapResps h2{
     font-size: 32px;
     color: rgb(255, 255, 255);
}

.wrapResps h3{
    font-size: 28px;
    color: rgb(214, 10, 10);
}